body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-size: no-repeat;
  background-image: url("https://media.giphy.com/media/1zVnl7hdYWpY4/giphy.gif");
  text-align: center;
  flex-direction: column;
  text-shadow: 2px 2px black;
  font-size: 35px;
  width: 50%;
  margin-left: 40px;
}

button {
  font-family: 'Open Sans', sans-serif;
  background: none;
  color: white;
  font-size: 30px;
}

input {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px black;
  font-size: 35px;
  color: white;
  background: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  opacity: .5;
  margin: 0;
  padding: 2px;
}